.form-header-routing-container {
  width: 100%;
  padding: 2.5% 5%;
}

.form-header-routing {
  text-decoration: none;
  color: #0070f3;
  font-size: 1.2rem;
}

.form-header-routing:hover {
  text-decoration: underline;
  opacity: 0.8;
}
