.header-container {
  text-align: center;
  padding: 3.5% 10%;
}

.header-title {
  font-size: 3.8rem;
  margin-bottom: 1rem;
  color: rgb(54, 54, 54);
}

.header-description {
  font-size: 1.6rem;
  color: rgb(126, 126, 126);
}

.cta-login {
  display: inline-block;
  margin: 1rem;
  text-decoration: none;
  padding: 0.7rem 2.5rem;
  color: white;
  background-color: #0070f3;
  border: 1px solid #0070f3;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 4px 11px 33px -8px rgba(0, 106, 226, 0.6);
  -moz-box-shadow: 4px 11px 33px -8px rgba(0, 106, 226, 0.6);
  box-shadow: 4px 11px 33px -8px rgba(0, 105, 226, 0.6);
  transition: all ease-in-out 0.2s;
}

.cta-login:hover {
  color: #0070f3;
  background-color: white;
}

.cta-secondary {
  color: #0070f3;
  background-color: white;
}

.cta-secondary:hover {
  color: white;
  background-color: #0070f3;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .header-title {
    font-size: 3.2rem;
  }

  .header-description {
    font-size: 1.2rem;
  }

  .cta-login {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .header-title {
    font-size: 3rem;
  }

  .header-description {
    font-size: 1.1rem;
  }

  .cta-login {
    font-size: 1rem;
  }
}

@media (max-width: 599px) {
  .header-title {
    font-size: 2.8rem;
  }

  .header-description {
    font-size: 1rem;
  }

  .cta-login {
    font-size: 1rem;
  }

  .cta-login {
    margin: 0.7rem 1rem;
  }
}
