.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.modal-main {
  position: fixed;
  background: white;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 2.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 10px 34px -10px rgba(120, 120, 120, 1);
  -moz-box-shadow: 4px 10px 34px -10px rgba(120, 120, 120, 1);
  box-shadow: 4px 10px 34px -10px rgba(120, 120, 120, 1);
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-close-container {
  cursor: pointer;
}

.modal-close-image {
  width: 2rem;
}

.modal-close > button {
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 2.8rem;
}

.modal-image {
  width: 100%;
  max-width: 12rem;
}

.modal-title {
  font-size: 2.2rem;
  color: #0070f3;
}

.modal-text {
  font-size: 1.4rem;
  color: rgb(126, 126, 126);
}

@media (min-width: 900px) and (max-width: 1199px) {
  .modal-title {
    font-size: 2.2rem;
  }

  .modal-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 899px) {
  .modal-main {
    width: 80%;
  }

  .modal-image {
    max-width: 20rem;
  }

  .modal-title {
    font-size: 2rem;
  }

  .modal-text {
    font-size: 1.4rem;
  }
}
