*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

/*
  CSS breakpoints 
  max-widht: 599px for mobile
  min-width: 600px for table portrait mode
  min-width: 900px for table landscape mode
  min-width: 1200px for desktop
*/
